@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

.section {
    width: 100%;
    display: flex;
}



.section2 {
    width: 50%;
}

.section2 img {
    width: 100%;
    object-fit: cover;
    
}

.texte {
    width: 50%;
    padding: 3rem;
    background-color: #20835D;
}

.texteQsn{
    width: 50%;
    padding: 3rem;
    background-color: #1D5A43;
}

.sectionQsn {
    width: 100%;
    height: 678px;
    display: flex;
}

.sectionQsn img {
    object-fit:cover;
    height: 100%;
}

h2 {

    color: #DACA3B;
    font-family: Gravitas One;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    padding: 50px;
    color: white;
}

@media (max-width: 768px) {

    h2{
        font-size: 52px;
    }

    .section {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        
    }

    .sectionQsn {
        width: 100%;
        height: 678px;
        display: flex;
        flex-direction: column;
    }

    .section2,
    .texte,
    .texteQsn {
        width: 100%;
    
    }
    
    .sectionQsn {
        width: 100%;
        height: 100%;
        display: flex;
    }
    
  }

.main_co{

    height: 100%;
}
  