@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

/*:root{
  --mainColor:#DACA3B;
  --mainColorLight:#daca3bfe;
  --secondaryColor:#216249;
  --troisiemeColor: #20835D ;
  --textColor:#eee;
  --testColor : black ;
}

.header{
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  /*height: 100%;*/
  /*object-fit: contain;
}

.content {
  font-size: 50px;
  font-family: 'Chicle', cursive;
  color: var(--mainColorLight);
  position: absolute;
  width: 100%;
  height: 23%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}*/
